
<h1>Stardex Angular Web App</h1>

<!--

  Map Display

-->

<img [src] = "mapurl" alt="Constellation Map" class="constellation" id="constellation-sphere" [style]="mapStyle">

<!-- @using (Html.BeginForm("Get", "Constellation", FormMethod.Get)) {
  @foreach (StarDex.Client.Models.ConstellationButtonModel constellation in Model.stars) {
    <input type="submit" name="name" value="@constellation.name" class="btn" style="top: @constellation.top%; left: @constellation.left%;">
  }
}
@using (Html.BeginForm("Get", "Planet", FormMethod.Get)) {
  @foreach (StarDex.Client.Models.PlanetViewModel planet in Model.planets) {
    <input type="submit" name="name" value="@planet.Name" class="btn" style="top: @planet.Top%; left: @planet.Left%;">
  }
} -->
<h3> Constellations</h3>
<ul>
  <li *ngFor="let const of constellations">
    <app-constellation [constellation]="const"></app-constellation>
  </li>
</ul>

<h3> Planets </h3>
<ul>
  <li *ngFor="let planet of planets">
    <app-planet [planet]="planet"></app-planet>
  </li>
</ul>